@use '../abstracts' as *;

@font-face {
    font-family: Roboto;
    src: url(../../../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../../../assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url(../../../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

$fontePrincipal: Roboto, sans-serif;
$fonteSecundaria: Poppins, sans-serif;

body {
    font-family: $fontePrincipal;
}

.title {
    font-family: $fonteSecundaria;
}

.title--vermelho {
    color: $corSecundaria;
}

.product-description {
    color: #545454;
    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.product-title {
    @media (max-width: 767px) {
        font-size: 14px;
    }
}