@use '../abstracts' as *;

.cabecalho {
    z-index: 99;
}

.barra-do-menu {
    top: 70px;
    height: 60px;
    padding: 0 32px 0 48px;
    background-color: $corSecundaria;
    
    @media (max-width: 992px) {
        top: 0;
        direction: rtl;
        padding: 0 15px;
        
    }
}

.menu {
    @media (max-width: 992px) {
        background-color: darken($corTerciaria, 5%);
        max-width: 80%;
        height: 100vh;
        direction: ltr;
    }

    &__corpo {
        @media (max-width: 992px) {     
            margin: 0 16px;
            background-color: $corTerciaria;
            border-radius: 6px;
        }
    }

    &__icone {
        font-size: 35px;
        margin-right: 8px;

        @media (max-width: 992px) {
            font-size: 30px;
            color: $corSecundaria;
        }
    }
}